html, body{
    height: 100%;
    background-color: #BAD7DF !important;
}

.date{
    display: flex;
}

.tanggal{
    display: flex;
}

.date p{
    color: #FFFFFF;
    text-align: left;
    padding: 10px;
    font-family: monospace;
    font-size: large;
    font-weight: 700;
}

.global-container{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #3E00FF;
}

.login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #FFFFFF !important;
}

.signup-form{
    width: 380px;
    height: 550px;
    padding: 20px;
    background-color: #FFFFFF !important;
}

input[type="email"],
input[type="password"],
input[type="username"] {
    background: #FFFFFF;
    color: black;
    border: 2px solid #185ADB;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="username"]:focus {
    outline: none;
    border: none;
    background: #FFFFFF;
    color: black;
    margin: 0;
}

.card-title{
    font-weight: 700;
    padding-top: 20px;
}

.btn{
    color: #FFFFFF !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}

footer {
    padding: 30px 0;
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
}